h1{
    color: indigo;
    font-family: Helvetica, Helvetica, Helvetica;
}
h2{
    color: indigo;
    font-family: Helvetica, Helvetica, Helvetica;
}

p{
    color: rgb(117, 55, 161);
    font-family: Helvetica, Helvetica, Helvetica; 
}